### DB 환경 접속

In [2]:
%run -i ../startup.ipynb

from teradataml import create_context

eng = create_context(host = 'host.docker.internal', username='demo_user', password = password)

Performing setup ...
Setup complete

Enter password:  ············

... Logon successful
Connected as: teradatasql://demo_user:xxxxx@host.docker.internal/dbc

/opt/conda/lib/python3.9/site-packages/teradataml/context/context.py:484: TeradataMlRuntimeWarning: Warning: Password is URL encoded.
  warnings.warn("Warning: Password is URL encoded.", category=TeradataMlRuntimeWarning)

### Data 가공 및 Null 처리. 
* Null 값이 있는 컬럼 확인 및 Null 값 처리. 
* 테이블의 컬럼들에 Null 값이 있는지 SQL로 확인. make_null_check_sql() 함수로 Null check SQL 생성. 
* Null 값이 있는 컬럼들에 대해서 Null 처리를 수행

In [3]:
from teradataml import DataFrame, in_schema

titanic_df = DataFrame(in_schema(schema_name='demo_user', table_name='titanic'), index_label='PassengerId')

In [4]:
import pandas as pd
from sqlalchemy.sql import text

''' 테이블에 Null check를 수행할 SQL을 생성. 
주요인자:
- dataframe: Null을 확인할 DataFrame 객체
- schema_table_name: Null Check를 수행할 테이블명. schema명 + 테이블명, 즉 demo_user.titanic과 같은 형태로 입력
- not_null_columns: Null check가 필요하지 않은 컬럼들을 list 형태로 입력
- sep: SQL 출력 시 SELECT 문장을 컬럼별로 개행문자등을 추가할지를 설정. 기본값은 한줄로 출력 
'''
def make_null_check_sql(dataframe, schema_table_name, not_null_columns, sep=''):
    # 인자로 들어온 not_null_columns 리스트 컬럼명을 제외하고 where 컬럼명1 is null or 컬럼명2 is null 과 같은 식으로 where조건 생성
    where_stmt = ' or '.join([ column + ' is null ' for column in dataframe.columns 
                          if column not in not_null_columns])
    # 인자로 들어온 not_null_columns 리스트 컬럼명을 제외하고 sum(case when 컬럼명 is null then 1 else 0 end)와 같은 식으로 select 조건 생성
    select_count_temp = ' sum(case when '.join([ column + ' is null then 1 else 0 end ),' + sep  for column in dataframe.columns 
                              if column not in not_null_columns])
    lstrip_index = -1 if sep == '' else -2
    
    # 최종 select 조건 생성. 맨 마지막 컬럼명은 콤마(,) 제외. 
    select_count_stmt = 'sum(case when ' + select_count_temp[:lstrip_index]
    
    # 최종 SQL 생성. 
    stmt = 'select ' + select_count_stmt + \
    ' from ' + schema_table_name + \
    ' where ' + where_stmt
    
    return stmt

not_null_columns=['PassengerId', 'Survived']
stmt = make_null_check_sql(titanic_df, 'demo_user.titanic', not_null_columns, sep='\n')

print(stmt)
pd.read_sql(text(stmt), eng)

select sum(case when Pclass is null then 1 else 0 end ),
 sum(case when Name is null then 1 else 0 end ),
 sum(case when Sex is null then 1 else 0 end ),
 sum(case when Age is null then 1 else 0 end ),
 sum(case when SibSp is null then 1 else 0 end ),
 sum(case when Parch is null then 1 else 0 end ),
 sum(case when Ticket is null then 1 else 0 end ),
 sum(case when Fare is null then 1 else 0 end ),
 sum(case when Cabin is null then 1 else 0 end ),
 sum(case when Embarked is null then 1 else 0 end ) from demo_user.titanic where Pclass is null  or Name is null  or Sex is null  or Age is null  or SibSp is null  or Parch is null  or Ticket is null  or Fare is null  or Cabin is null  or Embarked is null

   Pclass  Name  Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked
0       0     0    0  177      0      0       0     0    687         2

In [5]:
import pandas as pd
from sqlalchemy.sql import text

stmt = """
select sum(case when Pclass is null then 1 else 0 end ),
 sum(case when Name is null then 1 else 0 end ),
 sum(case when Sex is null then 1 else 0 end ),
 sum(case when Age is null then 1 else 0 end ),
 sum(case when SibSp is null then 1 else 0 end ),
 sum(case when Parch is null then 1 else 0 end ),
 sum(case when Ticket is null then 1 else 0 end ),
 sum(case when Fare is null then 1 else 0 end ),
 sum(case when Cabin is null then 1 else 0 end ),
 sum(case when Embarked is null then 1 else 0 end ) from demo_user.titanic 
 where Embarked is null 
 """

pd.read_sql(text(stmt), eng)

   Pclass  Name  Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked
0       0     0    0    0      0      0       0     0      0         2

In [5]:
import pandas as pd
from sqlalchemy.sql import text

stmt = """
select * 
from demo_user.titanic 
where Embarked is null 
"""

pd.read_sql(text(stmt), eng)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,None
1,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,None

In [6]:
import pandas as pd
from sqlalchemy.sql import text

stmt = """
select embarked, count(*)
from demo_user.titanic 
group by embarked
"""

pd.read_sql(text(stmt), eng)

  Embarked  Count(*)
0        Q        77
1        C       168
2     None         2
3        S       644

In [8]:
# 컬럼들에 대해서 Null 처리 수행하고 이를 DataFrame으로 생성. 
query = """
        SELECT PassengerId, Survived, Pclass, Sex,
            -- Null 처리. Age는 평균으로 대체
            case when Age is null then avg(Age) over ()
                 else Age end as Age, 
            SibSp, Parch, Fare,
            -- Null 및 데이터 가공. Cabin은 앞 첫번째 문자열만, Null시 N으로,  
            case when Cabin is null then 'N'
                 else substr(Cabin, 1, 1) end as Cabin,
            -- Embarked는 Null 시 'S'로 대체
            case when Embarked is null then 'S'
                 else Embarked end as Embarked
        FROM demo_user.titanic
"""
transformed_df01 = DataFrame.from_query(query, index_label="PassengerId")
transformed_df01

             Survived  Pclass     Sex        Age  SibSp  Parch     Fare Cabin Embarked
PassengerId
3                   1       3  female  26.000000      0      0   7.9250     N        S
5                   0       3    male  35.000000      0      0   8.0500     N        S
6                   0       3    male  29.699118      0      0   8.4583     N        Q
7                   0       1    male  54.000000      0      0  51.8625     E        S
9                   1       3  female  27.000000      0      2  11.1333     N        S
10                  1       2  female  14.000000      1      0  30.0708     N        C
8                   0       3    male   2.000000      3      1  21.0750     N        S
4                   1       1  female  35.000000      1      0  53.1000     C        S
2                   1       1  female  38.000000      1      0  71.2833     C        C
1                   0       3    male  22.000000      1      0   7.2500     N        S

In [9]:
# Null 처리가 완료된 DataFrame을 Table로 저장. 
transformed_df01.to_sql('titanic_transformed_01', if_exists='replace')

In [10]:
# Nulll 처리가 완료된 Table에 쿼리 수행하여 Null 값이 있는지 확인. 
not_null_columns=['PassengerId', 'Survived']
stmt = make_null_check_sql(transformed_df01, 'demo_user.titanic_transformed_01', not_null_columns, sep='\n')

print(stmt)
pd.read_sql(text(stmt), eng)

select sum(case when Pclass is null then 1 else 0 end ),
 sum(case when Sex is null then 1 else 0 end ),
 sum(case when Age is null then 1 else 0 end ),
 sum(case when SibSp is null then 1 else 0 end ),
 sum(case when Parch is null then 1 else 0 end ),
 sum(case when Fare is null then 1 else 0 end ),
 sum(case when Cabin is null then 1 else 0 end ),
 sum(case when Embarked is null then 1 else 0 end ) from demo_user.titanic_transformed_01 where Pclass is null  or Sex is null  or Age is null  or SibSp is null  or Parch is null  or Fare is null  or Cabin is null  or Embarked is null

  Pclass   Sex   Age SibSp Parch  Fare Cabin Embarked
0   None  None  None  None  None  None  None     None

### Label Encoding 수행
* ML 모델은 모든 값이 숫자형 값이 되어야 하므로, 이를 위해 Encoding 수행. 
* 카테고리(코드)형 컬럼들을 숫자값으로 Label Encoding 적용

In [14]:
transformed_df01.dtypes
#transformed_df01.tdtypes

PassengerId                                   BIGINT()
Survived                                      BIGINT()
Pclass                                        BIGINT()
Sex            VARCHAR(length=1024, charset='UNICODE')
Age                                            FLOAT()
SibSp                                         BIGINT()
Parch                                         BIGINT()
Fare                                           FLOAT()
Cabin             VARCHAR(length=1, charset='UNICODE')
Embarked       VARCHAR(length=1024, charset='UNICODE')

In [8]:
stmt = """
select top 5 * 
from demo_user.titanic_transformed_01
"""
# select Sex, count(*) from demo_user.titanic_transformed_01 group by sex;

pd.read_sql(text(stmt), eng)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,522,0,3,male,22.000000,0,0,7.8958,N,S
1,524,1,1,female,44.000000,0,1,57.9792,B,C
2,523,0,3,male,29.699118,0,0,7.2250,N,C
3,521,1,1,female,30.000000,0,0,93.5000,B,S
4,520,0,3,male,32.000000,0,0,7.8958,N,S

In [11]:
#transformed_df01.head(5)
transformed_df01.groupby('Sex').count()[['Sex', 'count_PassengerId']]

      Sex  count_PassengerId
0    male                577
1  female                314

In [22]:
from teradataml import LabelEncoder

# male은 0으로 female은 1로 label encoding 설정. 대상 컬럼은 Sex
# 인자로 datatype을 명확하게 지정하지 않으면 기존 컬럼 타입과 동일한 타입으로 만들어짐. 
label_enc = LabelEncoder(values={'male':0, 'female': 1}, columns="Sex", datatype="integer")
print(type(label_enc))

<class 'teradataml.analytics.Transformations.LabelEncoder'>

#### Label Encoder 시 숫자형 값을 직접 매핑하지 않고, 자동으로 매핑해줄 수 있도록 함수생성.

In [16]:
# encoding 대상 컬럼외에 index 컬럼을 입력하는 이유는 count() 값을 추출하기 위함.  
transformed_df01[['Sex', 'PassengerId']].groupby('Sex').count().sort(columns='Sex')

      Sex  count_PassengerId
0  female                314
1    male                577

In [17]:
pd_df = transformed_df01[['Sex', 'PassengerId']].groupby('Sex').count().sort(columns='Sex').to_pandas()
pd_df

      Sex  count_PassengerId
0  female                314
1    male                577

In [18]:
columns_list = pd_df['Sex'].to_list()
label_values = { key:index for index, key in enumerate(columns_list) }
print(label_values)

{'female': 0, 'male': 1}

In [19]:
#LabelEncoder 카테고리값과 숫자값을 매핑하는 함수
'''
주요인자:
dataframe: 인코딩 수행할 teradataml DataFrame:
enc_column: 인코딩 수행할 컬럼명(하나의 컬럼명만 입력)
index_column: DataFrame에서 group by 를 효과적으로 적용하기 위해서 입력. 
'''
def get_label_values(dataframe, enc_column, index_column):
    pd_df = dataframe[[enc_column, index_column]].groupby(enc_column).count().sort(columns=enc_column).to_pandas()
    columns_list = pd_df[enc_column].to_list()
    label_values = { key:index for index, key in enumerate(columns_list) }
    return label_values

In [20]:
label_values = get_label_values(transformed_df01, 'Sex', 'PassengerId')
label_values

{'female': 0, 'male': 1}

In [23]:
label_enc = LabelEncoder(label_values, columns="Sex", datatype="integer")
print(type(label_enc))

<class 'teradataml.analytics.Transformations.LabelEncoder'>

### Transform 을 이용하여 LabelEncoder 적용
* Transform()을 수행하려면 configure로 Vantagle Analytics Library 설치 위치를 지정해 줘야 함. 
* Transform은 teradataml DataFrame와 다양한 형태의 Encoder, Scaler들을 인자로 받아서 이들 값을 실제로 변환하는 역할을 수행 
* LabelEncoder, OneHotEncoder, ZScore, MinMaxScaler 등의 다양한 변환지정 규칙을 인자로 받아서 변환 할 수 있습니다. 
* Transform 변환 객체는 속성으로 result를 가지며, 이 result는 변환된 결과 DataFrame을 가지고 있음. 
* result는 Retain이 지정되지 않을 경우 기존 DataFrame에서 변환된 값만 가지는 DataFrame을 반환함.

In [24]:
from teradataml import configure

# 아래를 지정하지 않으면 Transform을 수행할 수 없음. 
configure.val_install_location = 'val'

In [25]:
from teradataml import valib

'''
Transform은 DataFrame의 지정된 컬럼을 
- data: 변환을 적용할 teradataml DataFrame
- label_encode: Label Encoding 규칙이 기술된 LabelEncoder 객체
- index_columns: 변환 적용 된 DataFrame에 Index로 사용될 컬럼명
- key_columns: 입력 DataFrame과 변환 적용된 DataFrame에서 적용될 Unique 컬럼명
- out_columns: 변환된 컬럼명. 기재하지 않으면 원본 컬럼명에 그대로 변환 적용됨. 
'''
valib_transformed = valib.Transform(
                        data=transformed_df01,
                        label_encode=label_enc,
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"]
                    )
print(type(valib_transformed))
print(type(valib_transformed.result))
valib_transformed.result

<class 'teradataml.analytics.valib.Transform'>
<class 'teradataml.dataframe.dataframe.DataFrame'>

   PassengerId  Sex
0          387    1
1          448    1
2          713    1
3           19    0
4          263    1
5           59    0
6          753    1
7          856    0
8          591    1
9          122    1

In [19]:
# 아래는 Sex 컬럼을 Sex_encoded 컬럼명으로 변환하여 Label Encoding 적용. 
label_enc = LabelEncoder(label_values, columns="Sex", out_columns='Sex_encoded', datatype="integer")
valib_transformed = valib.Transform(
                        data=transformed_df01,
                        label_encode=label_enc,
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"]
                    )
valib_transformed.result

   PassengerId  Sex_encoded
0          162            0
1          223            1
2          488            1
3           80            0
4          406            1
5          671            0
6          345            1
7          631            1
8           40            0
9          734            1

### Retain 설정. 
* Retain으로 입력되는 컬럼명이 없으면 Transform 변환시 Index 컬럼과 Encoding 컬럼명만 적용됨. 
* 유지되어야 하는 개별 컬럼들을 일일이 지정하는 대신 함수로 이들 컬럼들을 반환할 수 있도록 간단한 유틸리티 작성.

In [20]:
transformed_df01.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Cabin',
 'Embarked']

In [26]:
from teradataml import Retain

# encoding 되지 않고 그대로 유지되어야 하는 컬럼명. Encoding 대상 컬럼은 설정하지 않도록 유의
retain_columns = ['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked']
retain = Retain(retain_columns)

print(type(retain))

<class 'teradataml.analytics.Transformations.Retain'>

In [27]:
label_enc = LabelEncoder(label_values, columns="Sex", datatype="integer")
valib_transformed = valib.Transform(
                        data=transformed_df01,
                        label_encode=label_enc,
                        retain=retain,
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"]
                    )

valib_transformed.result.head(3)

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare Cabin Embarked  Sex
0            3         1       3  26.0      0      0   7.9250     N        S    0
1            2         1       1  38.0      1      0  71.2833     C        C    0
2            1         0       3  22.0      1      0   7.2500     N        S    1

In [33]:
import pandas as pd

'''retain 컬럼 리스트를 추출하는 함수
주요인자
dataframe: 대상 dataframe 객체
excluded_column_list: encoding 된 컬럼명. 단일 컬럼명이라도 list로 반드시 감쌀것. 
해당 encoding된 컬럼명을 제외한 나머지 컬럼들을 결과로 반환.  
'''
def get_retain_columns(dataframe, excluded_column_list):
    meta_df = pd.DataFrame(
                    dataframe.dtypes.__dict__['_column_names_and_types'], 
                    columns=['column_name', 'column_type'])
    retain_cols = meta_df[~meta_df['column_name'].isin(excluded_column_list)]['column_name'].to_list()
    return retain_cols

retain_columns = get_retain_columns(transformed_df01, ['Sex'])
retain_columns

['PassengerId',
 'Survived',
 'Pclass',
 'Age',
 'SibSp',
 'Parch',
 'Fare',
 'Cabin',
 'Embarked']

In [34]:
from teradataml import configure, LabelEncoder, Retain

label_values = get_label_values(transformed_df01, 'Sex', 'PassengerId')
retain_columns = get_retain_columns(transformed_df01, ['Sex', 'PassengerId'])

label_encoder = LabelEncoder(values=label_values, columns='Sex', datatype='integer')
retain = Retain(columns=retain_columns)

print(label_values)
print(retain_columns)

{'female': 0, 'male': 1}
['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin', 'Embarked']

In [35]:
from teradataml import valib

#valib.Transform() 함수의 수행 결과는 Transform 객체임. 
valib_transformed = valib.Transform(
                        data=transformed_df01,
                        label_encode=label_encoder,
                        retain=retain,
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"])
transformed_df02 = valib_transformed.result
transformed_df02

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare Cabin Embarked  Sex
0          162         1       2  40.0      0      0  15.7500     N        S    0
1          223         0       3  51.0      0      0   8.0500     N        S    1
2          488         0       1  58.0      0      0  29.7000     B        C    1
3           80         1       3  30.0      0      0  12.4750     N        S    0
4          406         0       2  34.0      1      0  21.0000     N        S    1
5          671         1       2  40.0      1      1  39.0000     N        S    0
6          345         0       2  36.0      0      0  13.0000     N        S    1
7          631         1       1  80.0      0      0  30.0000     A        S    1
8           40         1       3  14.0      1      0  11.2417     N        C    0
9          734         0       2  23.0      0      0  13.0000     N        S    1

### OneHotEncoder 적용
* LabelEncoder와 유사하게 columns과 values를 OneHotEncoder로 입력하여 OneHotEncoder 수행. 
* values는 dictionary 형태, 또는 list 형태로 입력할 수 있음. 
* values를 dictionary 형태로 입력할 때는 컬럼값 별 매핑되어 생성되는 신규 컬럼명을 key와 value 형태로 만들어 줘야 함. 
* dictonary values를 수작업하지 않고 생성할 수 있는 유틸리티 함수 이용 get_onehot_values(dataframe, enc_column, index_column, out_suffix_column)
* values를 list 형태로 입력할 때는 컬럼값을 list로 입력하고, 별도의 인자인 out_columns로 신규 생성되는 컬럼들의 suffix를 지정해 줘야 함. 
https://docs.teradata.com/r/Enterprise_IntelliFlex_VMware/Database-Analytic-Functions/Feature-Engineering-Transform-Functions/TD_OneHotEncodingFit/Example-How-to-Use-TD_OneHotEncodingFit

#### dictionary 형태의 values를 이용하여 OneHotEncoder 변환

In [36]:
# Cabin 컬럼값의 유형을 확인
transformed_df02[['Cabin', 'PassengerId']].groupby('Cabin').count().sort(columns='Cabin')

  Cabin  count_PassengerId
0     A                 15
1     B                 47
2     C                 59
3     D                 33
4     E                 32
5     F                 13
6     G                  4
7     N                687
8     T                  1

In [37]:
from teradataml import OneHotEncoder

# 현재 컬럼값과 새로운 컬럼명이 key: value 형태로 선언함. 
# One Hot Encoding은 개별 컬럼값을 컬럼명으로 매핑하므로 value가 매핑될 새로운 컬럼명임을 유의 
cabin_values_dict = {"A": "A_Cabin", "B": "B_Cabin", "C": "C_Cabin", "D": "D_Cabin",
                "E": "E_Cabin", "F": "F_Cabin", "G": "G_Cabin", "N": "N_Cabin", 
                "T": "T_Cabin"
               }

# OneHotEncoder는 별도의 datatype을 지정하지 않을 경우 integer형으로 자동 변환
cabin_encoder = OneHotEncoder(columns="Cabin", values=cabin_values_dict)

In [38]:
# one-hot encoding 변환 수행. 
valib_transformed = valib.Transform(
                        data=transformed_df02,
                        retain=Retain('Cabin'),
                        one_hot_encode=cabin_encoder,
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"])
valib_transformed.result

   PassengerId Cabin  A_Cabin  B_Cabin  C_Cabin  D_Cabin  E_Cabin  F_Cabin  G_Cabin  N_Cabin  T_Cabin
0          244     N        0        0        0        0        0        0        0        1        0
1          101     N        0        0        0        0        0        0        0        1        0
2          570     N        0        0        0        0        0        0        0        1        0
3          835     N        0        0        0        0        0        0        0        1        0
4          692     N        0        0        0        0        0        0        0        1        0
5          284     N        0        0        0        0        0        0        0        1        0
6          427     N        0        0        0        0        0        0        0        1        0
7          305     N        0        0        0        0        0        0        0        1        0
8          530     N        0        0        0        0        0        0        0        1        0
9          265     N        0        0        0        0        0        0        0        1        0

In [39]:
'''
DataFrame의 one-hot encoding 컬럼명을 입력 받아, OneHotEncoder의 values 인자로 입력될 Dictionary를 반환. 
주요 인자:
dataframe: 적용할 DataFrame, 
enc_column: one-hot encoding 적용할 컬럼명. 
index_columns: 변환 적용 된 DataFrame에 Index로 사용될 컬럼명
out_prefix_column: 컬럼값별로 one-hot encoding 컬럼명으로 부여할 접두어 컬럼명
'''
def get_onehot_values_dict(dataframe, enc_column, index_column, out_suffix_column):
    pd_df = dataframe[[enc_column, index_column]].groupby(enc_column).count().sort(columns=enc_column).to_pandas()
    columns_list = pd_df[enc_column].to_list()
    onehot_values = { key: str(key) + out_suffix_column for key in columns_list }
    return onehot_values

cabin_values_dict = get_onehot_values_dict(transformed_df02, 'Cabin', 'PassengerId', '_Cabin')
print(cabin_values_dict)

{'A': 'A_Cabin', 'B': 'B_Cabin', 'C': 'C_Cabin', 'D': 'D_Cabin', 'E': 'E_Cabin', 'F': 'F_Cabin', 'G': 'G_Cabin', 'N': 'N_Cabin', 'T': 'T_Cabin'}

In [41]:
# OneHotEncoder는 별도의 datatype을 지정하지 않을 경우 integer형으로 자동 변환
cabin_encoder = OneHotEncoder(columns="Cabin", values=cabin_values_dict)
valib_transformed = valib.Transform(
                        data=transformed_df02,
                        retain=Retain('Cabin'),
                        one_hot_encode=cabin_encoder,
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"])
valib_transformed.result

   PassengerId Cabin  A_Cabin  B_Cabin  C_Cabin  D_Cabin  E_Cabin  F_Cabin  G_Cabin  N_Cabin  T_Cabin
0          244     N        0        0        0        0        0        0        0        1        0
1          101     N        0        0        0        0        0        0        0        1        0
2          570     N        0        0        0        0        0        0        0        1        0
3          835     N        0        0        0        0        0        0        0        1        0
4          692     N        0        0        0        0        0        0        0        1        0
5          284     N        0        0        0        0        0        0        0        1        0
6          427     N        0        0        0        0        0        0        0        1        0
7          305     N        0        0        0        0        0        0        0        1        0
8          530     N        0        0        0        0        0        0        0        1        0
9          265     N        0        0        0        0        0        0        0        1        0

#### list 형태의 values를 이용하여 OneHotEncoder 변환

In [43]:
cavin_values_list = transformed_df02[['Cabin', 'PassengerId']].groupby('Cabin').count().sort(columns='Cabin').to_pandas()['Cabin'].to_list()
print(cavin_values_list)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'N', 'T']

In [44]:
# 컬럼값을 list로 가지는 values 로 OneHotEncoder 생성. 
cabin_encoder = OneHotEncoder(columns="Cabin", values=cavin_values_list, out_columns='Cabin')

valib_transformed = valib.Transform(
                        data=transformed_df02,
                        retain=Retain('Cabin'),
                        one_hot_encode=cabin_encoder,
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"])
valib_transformed.result

   PassengerId Cabin  A_Cabin  B_Cabin  C_Cabin  D_Cabin  E_Cabin  F_Cabin  G_Cabin  N_Cabin  T_Cabin
0          326     C        0        0        1        0        0        0        0        0        0
1          183     N        0        0        0        0        0        0        0        1        0
2          652     N        0        0        0        0        0        0        0        1        0
3          509     N        0        0        0        0        0        0        0        1        0
4          366     N        0        0        0        0        0        0        0        1        0
5          814     N        0        0        0        0        0        0        0        1        0
6          774     N        0        0        0        0        0        0        0        1        0
7          795     N        0        0        0        0        0        0        0        1        0
8           61     N        0        0        0        0        0        0        0        1        0
9          469     N        0        0        0        0        0        0        0        1        0

In [45]:
# retain 컬럼들을 적용하여 변환 
retain_columns = get_retain_columns(transformed_df02, ['Cabin', 'PassengerId'])
print(retain_columns)

['Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked', 'Sex']

In [46]:
# retain 컬럼들을 적용하여 변환 
valib_transformed = valib.Transform(
                        data=transformed_df02,
                        retain=Retain(retain_columns),
                        one_hot_encode=cabin_encoder,
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"])
valib_transformed.result

   PassengerId  Survived  Pclass        Age  SibSp  Parch    Fare Embarked  Sex  A_Cabin  B_Cabin  C_Cabin  D_Cabin  E_Cabin  F_Cabin  G_Cabin  N_Cabin  T_Cabin
0          387         0       3   1.000000      5      2  46.900        S    1        0        0        0        0        0        0        0        1        0
1          448         1       1  34.000000      0      0  26.550        S    1        0        0        0        0        0        0        0        1        0
2          713         1       1  48.000000      1      0  52.000        S    1        0        0        1        0        0        0        0        0        0
3           19         0       3  31.000000      1      0  18.000        S    0        0        0        0        0        0        0        0        1        0
4          263         0       1  52.000000      1      1  79.650        S    1        0        0        0        0        1        0        0        0        0
5           59         1       2   5.000000      1      2  27.750        S    0        0        0        0        0        0        0        0        1        0
6          753         0       3  33.000000      0      0   9.500        S    1        0        0        0        0        0        0        0        1        0
7          856         1       3  18.000000      0      1   9.350        S    0        0        0        0        0        0        0        0        1        0
8          591         0       3  35.000000      0      0   7.125        S    1        0        0        0        0        0        0        0        1        0
9          122         0       3  29.699118      0      0   8.050        S    1        0        0        0        0        0        0        0        1        0

### 여러개의 컬럼들을 한번에 OneHotEncoder 적용하기
* Transform의  one_hot_encode 인자는 하나의 OneHotEncoder가 아니라 여러개의 OneHotEncoder 를 list로 입력 받아서 여러개의 컬럼들을 one-hot encode 변환 수행. 
* label_encode 인자 역시 list로 여러개의 LabelEncoder 객체들을 입력 받을 수 있음.

In [47]:
embarked_values_list = transformed_df02[['Embarked', 'PassengerId']].groupby('Embarked').count().sort(columns='Embarked').to_pandas()['Embarked'].to_list()
print(embarked_values_list)

['C', 'Q', 'S']

In [48]:
# 컬럼값을 list로 가지는 values 로 OneHotEncoder 생성. 
cabin_encoder = OneHotEncoder(columns="Cabin", values=cavin_values_list, out_columns='Cabin')
embarked_encoder = OneHotEncoder(columns="Embarked", values=embarked_values_list, out_columns='Embarked')

valib_transformed = valib.Transform(
                        data=transformed_df02,
                        retain=Retain(['Cabin', 'Embarked']),
                        one_hot_encode=[cabin_encoder, embarked_encoder],
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"])
valib_transformed.result

   PassengerId Cabin Embarked  A_Cabin  B_Cabin  C_Cabin  D_Cabin  E_Cabin  F_Cabin  G_Cabin  N_Cabin  T_Cabin  C_Embarked  Q_Embarked  S_Embarked
0          387     N        S        0        0        0        0        0        0        0        1        0           0           0           1
1          448     N        S        0        0        0        0        0        0        0        1        0           0           0           1
2          713     C        S        0        0        1        0        0        0        0        0        0           0           0           1
3           19     N        S        0        0        0        0        0        0        0        1        0           0           0           1
4          263     E        S        0        0        0        0        1        0        0        0        0           0           0           1
5           59     N        S        0        0        0        0        0        0        0        1        0           0           0           1
6          753     N        S        0        0        0        0        0        0        0        1        0           0           0           1
7          856     N        S        0        0        0        0        0        0        0        1        0           0           0           1
8          591     N        S        0        0        0        0        0        0        0        1        0           0           0           1
9          122     N        S        0        0        0        0        0        0        0        1        0           0           0           1

In [49]:
retain_columns = get_retain_columns(transformed_df02, ['Cabin', 'Embarked', 'PassengerId'])

cabin_encoder = OneHotEncoder(columns="Cabin", values=cavin_values_list, out_columns='Cabin')
embarked_encoder = OneHotEncoder(columns="Embarked", values=embarked_values_list, out_columns='Embarked')

valib_transformed = valib.Transform(
                        data=transformed_df02,
                        retain=Retain(retain_columns),
                        one_hot_encode=[cabin_encoder, embarked_encoder],
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"])
valib_transformed.result

   PassengerId  Survived  Pclass        Age  SibSp  Parch    Fare  Sex  A_Cabin  B_Cabin  C_Cabin  D_Cabin  E_Cabin  F_Cabin  G_Cabin  N_Cabin  T_Cabin  C_Embarked  Q_Embarked  S_Embarked
0          387         0       3   1.000000      5      2  46.900    1        0        0        0        0        0        0        0        1        0           0           0           1
1          448         1       1  34.000000      0      0  26.550    1        0        0        0        0        0        0        0        1        0           0           0           1
2          713         1       1  48.000000      1      0  52.000    1        0        0        1        0        0        0        0        0        0           0           0           1
3           19         0       3  31.000000      1      0  18.000    0        0        0        0        0        0        0        0        1        0           0           0           1
4          263         0       1  52.000000      1      1  79.650    1        0        0        0        0        1        0        0        0        0           0           0           1
5           59         1       2   5.000000      1      2  27.750    0        0        0        0        0        0        0        0        1        0           0           0           1
6          753         0       3  33.000000      0      0   9.500    1        0        0        0        0        0        0        0        1        0           0           0           1
7          856         1       3  18.000000      0      1   9.350    0        0        0        0        0        0        0        0        1        0           0           0           1
8          591         0       3  35.000000      0      0   7.125    1        0        0        0        0        0        0        0        1        0           0           0           1
9          122         0       3  29.699118      0      0   8.050    1        0        0        0        0        0        0        0        1        0           0           0           1

### 앞에서 수행한 로직들을 하나로 정리하여 Label Encoding과 One-Hot Encoding을 한번에 수행.
* 유틸리티 함수들을 다시 선언
* Label Encoding과 One-Hot Encoding을 한번에 수행

In [50]:
# 컬럼들에 대해서 Null 처리 수행하고 이를 DataFrame으로 생성. 
query = """
        SELECT PassengerId, Survived, Pclass, Sex,
            -- Null 처리. Age는 평균으로 대체
            case when Age is null then avg(Age) over ()
                 else Age end as Age, 
            SibSp, Parch, Fare,
            -- Null 및 데이터 가공. Cabin은 앞 첫번째 문자열만, Null시 N으로,  
            case when Cabin is null then 'N'
                 else substr(Cabin, 1, 1) end as Cabin,
            -- Embarked는 Null 시 'S'로 대체
            case when Embarked is null then 'S'
                 else Embarked end as Embarked
        FROM demo_user.titanic
"""
transformed_df01 = DataFrame.from_query(query, index_label="PassengerId")
transformed_df01

             Survived  Pclass     Sex        Age  SibSp  Parch     Fare Cabin Embarked
PassengerId
3                   1       3  female  26.000000      0      0   7.9250     N        S
5                   0       3    male  35.000000      0      0   8.0500     N        S
6                   0       3    male  29.699118      0      0   8.4583     N        Q
7                   0       1    male  54.000000      0      0  51.8625     E        S
9                   1       3  female  27.000000      0      2  11.1333     N        S
10                  1       2  female  14.000000      1      0  30.0708     N        C
8                   0       3    male   2.000000      3      1  21.0750     N        S
4                   1       1  female  35.000000      1      0  53.1000     C        S
2                   1       1  female  38.000000      1      0  71.2833     C        C
1                   0       3    male  22.000000      1      0   7.2500     N        S

In [51]:
def get_label_values(dataframe, enc_column, index_column):
    pd_df = dataframe[[enc_column, index_column]].groupby(enc_column).count().sort(columns=enc_column).to_pandas()
    columns_list = pd_df[enc_column].to_list()
    label_values = { key:index for index, key in enumerate(columns_list) }
    return label_values

def get_retain_columns(dataframe, excluded_column_list):
    meta_df = pd.DataFrame(
                    dataframe.dtypes.__dict__['_column_names_and_types'], 
                    columns=['column_name', 'column_type'])
    retain_cols = meta_df[~meta_df['column_name'].isin(excluded_column_list)]['column_name'].to_list()
    return retain_cols

def get_onehot_values_dict(dataframe, enc_column, index_column, out_suffix_column):
    pd_df = dataframe[[enc_column, index_column]].groupby(enc_column).count().sort(columns=enc_column).to_pandas()
    columns_list = pd_df[enc_column].to_list()
    onehot_values = { key: str(key) + out_suffix_column for key in columns_list }
    return onehot_values

In [52]:
# transformed_df02가 아닌 transformed_df02 로 Encoding 적용함에 유의
label_values = get_label_values(transformed_df01, 'Sex', 'PassengerId')
embarked_values_list = transformed_df01[['Embarked', 'PassengerId']].groupby('Embarked').count().sort(columns='Embarked').to_pandas()['Embarked'].to_list()
cabin_values_list = transformed_df01[['Cabin', 'PassengerId']].groupby('Cabin').count().sort(columns='Cabin').to_pandas()['Cabin'].to_list()
# print('label:', label_values)
# print('embarked:', embarked_values_list)
# print('cabin:', cabin_values_list)

retain_columns = get_retain_columns(transformed_df01, ['Sex', 'Cabin', 'Embarked', 'PassengerId'])
# print('retain columns:', retain_columns)

label_encoder = LabelEncoder(label_values, columns="Sex", datatype="integer")
cabin_encoder = OneHotEncoder(columns="Cabin", values=cavin_values_list, out_columns='Cabin')
embarked_encoder = OneHotEncoder(columns="Embarked", values=embarked_values_list, out_columns='Embarked')

valib_transformed = valib.Transform(
                        data=transformed_df01,
                        retain=Retain(columns=retain_columns),
                        label_encode=label_encoder,
                        one_hot_encode=[cabin_encoder, embarked_encoder],
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"])
transforemd_df02 = valib_transformed.result
transforemd_df02

   PassengerId  Survived  Pclass        Age  SibSp  Parch      Fare  A_Cabin  B_Cabin  C_Cabin  D_Cabin  E_Cabin  F_Cabin  G_Cabin  N_Cabin  T_Cabin  C_Embarked  Q_Embarked  S_Embarked  Sex
0          326         1       1  36.000000      0      0  135.6333        0        0        1        0        0        0        0        0        0           1           0           0    0
1          183         0       3   9.000000      4      2   31.3875        0        0        0        0        0        0        0        1        0           0           0           1    1
2          652         1       2  18.000000      0      1   23.0000        0        0        0        0        0        0        0        1        0           0           0           1    0
3          509         0       3  28.000000      0      0   22.5250        0        0        0        0        0        0        0        1        0           0           0           1    1
4          366         0       3  30.000000      0      0    7.2500        0        0        0        0        0        0        0        1        0           0           0           1    1
5          814         0       3   6.000000      4      2   31.2750        0        0        0        0        0        0        0        1        0           0           0           1    0
6          774         0       3  29.699118      0      0    7.2250        0        0        0        0        0        0        0        1        0           1           0           0    1
7          795         0       3  25.000000      0      0    7.8958        0        0        0        0        0        0        0        1        0           0           0           1    1
8           61         0       3  22.000000      0      0    7.2292        0        0        0        0        0        0        0        1        0           1           0           0    1
9          469         0       3  29.699118      0      0    7.7250        0        0        0        0        0        0        0        1        0           0           1           0    1

#### Transform이 어떻게 Encoding을 SQL 레벨에서 수행하는지 확인
* Transform 인자로 gen_sql_only=True를 입력하면 Transform 적용 시 생성되는 SQL이 만들어짐.

In [81]:
valib_transformed = valib.Transform(
                        data=transformed_df01,
                        retain=Retain(retain_columns),
                        label_encode=label_encoder,
                        one_hot_encode=[cabin_encoder, embarked_encoder],
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"],
                        gen_sql_only=True)
 
# Print the generated SQL.
print('##### 생성 SQL ######')
print(valib_transformed.show_query("sql"))
print('\n##### 생성 Stored Procedure #######')
print(valib_transformed.show_query("sp"))

##### 생성 SQL ######
DROP TABLE "DEMO_USER"."ml__valib_transform_1704700016517156";

CREATE SET TABLE "DEMO_USER"."ml__valib_transform_1704700016517156", NO FALLBACK, NO BEFORE JOURNAL, NO AFTER JOURNAL AS (
SELECT
 "A"."PassengerId" AS "PassengerId"
,"A"."Survived" AS "Survived"
,"A"."Pclass" AS "Pclass"
,"A"."Age" AS "Age"
,"A"."SibSp" AS "SibSp"
,"A"."Parch" AS "Parch"
,"A"."Fare" AS "Fare"
,CASE WHEN "Cabin" = 'A' THEN 1 ELSE 0 END AS "A_Cabin"
,CASE WHEN "Cabin" = 'B' THEN 1 ELSE 0 END AS "B_Cabin"
,CASE WHEN "Cabin" = 'C' THEN 1 ELSE 0 END AS "C_Cabin"
,CASE WHEN "Cabin" = 'D' THEN 1 ELSE 0 END AS "D_Cabin"
,CASE WHEN "Cabin" = 'E' THEN 1 ELSE 0 END AS "E_Cabin"
,CASE WHEN "Cabin" = 'F' THEN 1 ELSE 0 END AS "F_Cabin"
,CASE WHEN "Cabin" = 'G' THEN 1 ELSE 0 END AS "G_Cabin"
,CASE WHEN "Cabin" = 'N' THEN 1 ELSE 0 END AS "N_Cabin"
,CASE WHEN "Cabin" = 'T' THEN 1 ELSE 0 END AS "T_Cabin"
,CASE WHEN "Embarked" = 'C' THEN 1 ELSE 0 END AS "C_Embarked"
,CASE WHEN "Embarked" = 'Q' THEN 1 ELSE 0 END AS "Q_Embarked"
,CASE WHEN "Embarked" = 'S' THEN 1 ELSE 0 END AS "S_Embarked"
,CAST((CASE 	WHEN "Sex" = 'female' THEN '0'
	WHEN "Sex" = 'male' THEN '1'
	 ELSE NULL END) AS INTEGER) AS "Sex"
FROM "DEMO_USER"."ml___frmqry_v_1704693877880457" A
) WITH DATA PRIMARY INDEX ("PassengerId");

##### 생성 Stored Procedure #######
call val.td_analyze('VARTRAN', 'outputstyle=table;designcode={designstyle(dummycode), designvalues(A, B, C, D, E, F, G, N, T), columns(Cabin/Cabin)}{designstyle(dummycode), designvalues(C, Q, S), columns(Embarked/Embarked)};recode={recodevalues(female/0, male/1), recodeother(NULL), columns(Sex), datatype(integer)};retain={columns(Survived, Pclass, Age, SibSp, Parch, Fare)};database=DEMO_USER;tablename=ml___frmqry_v_1704693877880457;outputdatabase=DEMO_USER;outputtablename=ml__valib_transform_1704700016517156;index=PassengerId;keycolumns=PassengerId;gensqlonly=True;');

### Scaling 적용

In [53]:
from teradataml import ZScore

# 변환 적용할 컬럼명
scale_org_columns = ['Age', 'Fare']

# ZScore 객체 생성
zscaler = ZScore(columns = scale_org_columns)
print(type(zscaler))

<class 'teradataml.analytics.Transformations.ZScore'>

In [54]:
valib_transformed = valib.Transform(
                        data=transformed_df01,
                        zscore=zscaler,
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"])
zscore_scaled_df = valib_transformed.result
zscore_scaled_df

   PassengerId           Age      Fare
0          244 -5.924806e-01 -0.504962
1          101 -1.307545e-01 -0.489442
2          570  1.770629e-01 -0.490280
3          835 -9.002980e-01 -0.481304
4          692 -1.977659e+00 -0.378281
5          284 -8.233437e-01 -0.486337
6          427 -1.307545e-01 -0.124920
7          305  4.374348e-15 -0.486337
8          530 -5.155262e-01 -0.416873
9          265  4.374348e-15 -0.492378

In [55]:
from teradataml import ZScore

# 변환 적용할 컬럼명
scale_org_columns = ['Age', 'Fare']

#변환 되어 생성될 컬럼명 
zscore_new_columns = [column +'_zscore' for column in scale_org_columns]
print('newly scaled columns:', zscore_new_columns)

# 새로운 컬럼명으로 변환될 ZScore 객체 생성. out_columns에 신규 컬럼명/리스트를 입력
zscaler = ZScore(columns = scale_org_columns, out_columns=zscore_new_columns)

valib_transformed = valib.Transform(
                        data=transformed_df01,
                        zscore=zscaler,
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"])

zscore_scaled_df = valib_transformed.result
zscore_scaled_df

newly scaled columns: ['Age_zscore', 'Fare_zscore']

   PassengerId    Age_zscore  Fare_zscore
0          244 -5.924806e-01    -0.504962
1          101 -1.307545e-01    -0.489442
2          570  1.770629e-01    -0.490280
3          835 -9.002980e-01    -0.481304
4          692 -1.977659e+00    -0.378281
5          284 -8.233437e-01    -0.486337
6          427 -1.307545e-01    -0.124920
7          305  4.374348e-15    -0.486337
8          530 -5.155262e-01    -0.416873
9          265  4.374348e-15    -0.492378

In [56]:
#### 클래스명에 유의 MinMaxScaler가 아니라 MinMaxScalar 임. 
from teradataml import MinMaxScalar

# 변환 적용할 컬럼명
scale_org_columns = ['Age', 'Fare']

#변환 되어 생성될 컬럼명 
minmax_new_columns = [column +'_minmax' for column in scale_org_columns]
print('newly scaled columns:', minmax_new_columns)

# 새로운 컬럼명으로 변환될 MinMaxScaler 객체 생성. out_columns에 신규 컬럼명/리스트를 입력

r_minmax_scaler = MinMaxScalar(columns = scale_org_columns, out_columns=minmax_new_columns)

# MinMaxScalar 객체는 Transform의 rescale 인자로 입력됨에 유의
valib_transformed = valib.Transform(
                        data=transformed_df01,
                        rescale=r_minmax_scaler,
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"])

minmax_scaled_df = valib_transformed.result
minmax_scaled_df

newly scaled columns: ['Age_minmax', 'Fare_minmax']

   PassengerId  Age_minmax  Fare_minmax
0          387    0.007288     0.091543
1          448    0.421965     0.051822
2          713    0.597889     0.101497
3           19    0.384267     0.035134
4          263    0.648153     0.155466
5           59    0.057552     0.054164
6          753    0.409399     0.018543
7          856    0.220910     0.018250
8          591    0.434531     0.013907
9          122    0.367921     0.015713

In [57]:
# MinMaxScalar 객체는 Transform의 rescale 인자로 입력됨에 유의
valib_transformed = valib.Transform(
                        data=transformed_df01,
                        zscore=zscaler, 
                        rescale=r_minmax_scaler,
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"])

valib_transformed.result

   PassengerId  Age_minmax  Fare_minmax    Age_zscore  Fare_zscore
0          244    0.271174     0.013907 -5.924806e-01    -0.504962
1          101    0.346569     0.015412 -1.307545e-01    -0.489442
2          570    0.396833     0.015330  1.770629e-01    -0.490280
3          835    0.220910     0.016201 -9.002980e-01    -0.481304
4          692    0.044986     0.026188 -1.977659e+00    -0.378281
5          284    0.233476     0.015713 -8.233437e-01    -0.486337
6          427    0.346569     0.050749 -1.307545e-01    -0.124920
7          305    0.367921     0.015713  4.374348e-15    -0.486337
8          530    0.283740     0.022447 -5.155262e-01    -0.416873
9          265    0.367921     0.015127  4.374348e-15    -0.492378

In [64]:
retain_columns = get_retain_columns(transformed_df01, ['Sex', 'Cabin', 'Embarked', 'Age', 'Fare', 'PassengerId'])

cabin_encoder = OneHotEncoder(columns="Cabin", values=cavin_values_list, out_columns='Cabin')
embarked_encoder = OneHotEncoder(columns="Embarked", values=embarked_values_list, out_columns='Embarked')
r_minmax_scaler = MinMaxScalar(columns = scale_org_columns, out_columns=minmax_new_columns)

valib_transformed = valib.Transform(
                        data=transformed_df01,
                        retain=Retain(columns=retain_columns),
                        label_encode=label_encoder,
                        one_hot_encode=[cabin_encoder, embarked_encoder],
                        rescale=r_minmax_scaler,
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"])

valib_transformed.result

   PassengerId  Survived  Pclass  SibSp  Parch  A_Cabin  B_Cabin  C_Cabin  D_Cabin  E_Cabin  F_Cabin  G_Cabin  N_Cabin  T_Cabin  C_Embarked  Q_Embarked  S_Embarked  Sex  Age_minmax  Fare_minmax
0          387         0       3      5      2        0        0        0        0        0        0        0        1        0           0           0           1    1    0.007288     0.091543
1          448         1       1      0      0        0        0        0        0        0        0        0        1        0           0           0           1    1    0.421965     0.051822
2          713         1       1      1      0        0        0        1        0        0        0        0        0        0           0           0           1    1    0.597889     0.101497
3           19         0       3      1      0        0        0        0        0        0        0        0        1        0           0           0           1    0    0.384267     0.035134
4          263         0       1      1      1        0        0        0        0        1        0        0        0        0           0           0           1    1    0.648153     0.155466
5           59         1       2      1      2        0        0        0        0        0        0        0        1        0           0           0           1    0    0.057552     0.054164
6          753         0       3      0      0        0        0        0        0        0        0        0        1        0           0           0           1    1    0.409399     0.018543
7          856         1       3      0      1        0        0        0        0        0        0        0        1        0           0           0           1    0    0.220910     0.018250
8          591         0       3      0      0        0        0        0        0        0        0        0        1        0           0           0           1    1    0.434531     0.013907
9          122         0       3      0      0        0        0        0        0        0        0        0        1        0           0           0           1    1    0.367921     0.015713

In [65]:
transformed_df = valib_transformed.result

In [66]:
valib_transformed_debug = valib.Transform(
                        data=transformed_df01,
                        retain=Retain(columns=retain_columns),
                        label_encode=label_encoder,
                        one_hot_encode=[cabin_encoder, embarked_encoder],
                        rescale=r_minmax_scaler,
                        index_columns=["PassengerId"],
                        key_columns=["PassengerId"],
                        gen_sql_only=True
                    )

# Print the generated SQL.
print('##### 생성 SQL ######')
print(valib_transformed_debug.show_query("sql"))
print('\n##### 생성 Stored Procedure #######')
print(valib_transformed_debug.show_query("sp"))

##### 생성 SQL ######
DROP TABLE "DEMO_USER"."ml__valib_transform_1710836330112821";

CREATE SET TABLE "DEMO_USER"."ml__valib_transform_1710836330112821", NO FALLBACK, NO BEFORE JOURNAL, NO AFTER JOURNAL AS (
SELECT
 "A"."PassengerId" AS "PassengerId"
,"A"."Survived" AS "Survived"
,"A"."Pclass" AS "Pclass"
,"A"."SibSp" AS "SibSp"
,"A"."Parch" AS "Parch"
,CASE WHEN "Cabin" = 'A' THEN 1 ELSE 0 END AS "A_Cabin"
,CASE WHEN "Cabin" = 'B' THEN 1 ELSE 0 END AS "B_Cabin"
,CASE WHEN "Cabin" = 'C' THEN 1 ELSE 0 END AS "C_Cabin"
,CASE WHEN "Cabin" = 'D' THEN 1 ELSE 0 END AS "D_Cabin"
,CASE WHEN "Cabin" = 'E' THEN 1 ELSE 0 END AS "E_Cabin"
,CASE WHEN "Cabin" = 'F' THEN 1 ELSE 0 END AS "F_Cabin"
,CASE WHEN "Cabin" = 'G' THEN 1 ELSE 0 END AS "G_Cabin"
,CASE WHEN "Cabin" = 'N' THEN 1 ELSE 0 END AS "N_Cabin"
,CASE WHEN "Cabin" = 'T' THEN 1 ELSE 0 END AS "T_Cabin"
,CASE WHEN "Embarked" = 'C' THEN 1 ELSE 0 END AS "C_Embarked"
,CASE WHEN "Embarked" = 'Q' THEN 1 ELSE 0 END AS "Q_Embarked"
,CASE WHEN "Embarked" = 'S' THEN 1 ELSE 0 END AS "S_Embarked"
,CAST((CASE 	WHEN "Sex" = 'female' THEN '0'
	WHEN "Sex" = 'male' THEN '1'
	 ELSE NULL END) AS INTEGER) AS "Sex"
,0.0 + (CAST("Age" AS FLOAT) - "_twm_min9") * (1.0 - 0.0) / ("_twm_max9" - "_twm_min9") AS "Age_minmax"
,0.0 + (CAST("Fare" AS FLOAT) - "_twm_min10") * (1.0 - 0.0) / ("_twm_max10" - "_twm_min10") AS "Fare_minmax"
FROM "DEMO_USER"."ml___frmqry_v_1710839437966170" A
,(SELECT
 MIN("Age") AS "_twm_min9"
,MAX("Age") AS "_twm_max9"
,MIN("Fare") AS "_twm_min10"
,MAX("Fare") AS "_twm_max10"
FROM "DEMO_USER"."ml___frmqry_v_1710839437966170"
) B
) WITH DATA PRIMARY INDEX ("PassengerId");

##### 생성 Stored Procedure #######
call val.td_analyze('VARTRAN', 'outputstyle=table;designcode={designstyle(dummycode), designvalues(A, B, C, D, E, F, G, N, T), columns(Cabin/Cabin)}{designstyle(dummycode), designvalues(C, Q, S), columns(Embarked/Embarked)};recode={recodevalues(female/0, male/1), recodeother(NULL), columns(Sex), datatype(integer)};rescale={rescalebounds(lowerbound/0, upperbound/1), columns(Age/Age_minmax, Fare/Fare_minmax)};retain={columns(Survived, Pclass, SibSp, Parch)};database=DEMO_USER;tablename=ml___frmqry_v_1710839437966170;outputdatabase=DEMO_USER;outputtablename=ml__valib_transform_1710836330112821;index=PassengerId;keycolumns=PassengerId;gensqlonly=True;');

In [67]:
transformed_df.dtypes

PassengerId      int
Survived         int
Pclass           int
SibSp            int
Parch            int
A_Cabin          int
B_Cabin          int
C_Cabin          int
D_Cabin          int
E_Cabin          int
F_Cabin          int
G_Cabin          int
N_Cabin          int
T_Cabin          int
C_Embarked       int
Q_Embarked       int
S_Embarked       int
Sex              int
Age_minmax     float
Fare_minmax    float

In [68]:
# encoding 적용된 DataFrame을 Table로 저장. 
transformed_df.to_sql('titanic_transformed', if_exists='replace')

In [70]:
import pandas as pd
from sqlalchemy.sql import text 

qry = '''
select top 5 * from demo_user.titanic_transformed 
'''

# 쿼리 수행 후 pandas DataFrame으로 결과 반환. con 인자로 engine또는 Connection 객체 입력. 
pd.read_sql(text(qry), eng)

,PassengerId,Survived,Pclass,SibSp,Parch,A_Cabin,B_Cabin,C_Cabin,D_Cabin,E_Cabin,F_Cabin,G_Cabin,N_Cabin,T_Cabin,C_Embarked,Q_Embarked,S_Embarked,Sex,Age_minmax,Fare_minmax
0,244,0,3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0.271174,0.013907
1,101,0,3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0.346569,0.015412
2,305,0,3,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0.367921,0.015713
3,530,0,2,2,1,0,0,0,0,0,0,0,1,0,0,0,1,1,0.283740,0.022447
4,265,0,3,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0.367921,0.015127